@media (min-width: 992px) and (max-width: 1200px)
    .promo
        height: 295px
        img
            height: 100%
        .promo_block
            padding: 25px 0 25px 82px
            &_big
                font-size: 45px
                margin-bottom: 24px
            &_text
                margin-bottom: 35px
    .collection
        margin-top: 10px
        margin-bottom: 10px
    .choose
        height: 146px
        &_wrapper
            &_block
                &_big
                    font-size: 45px
    .hello
        &_wrapper
            .hello_block1
                padding-top: 65px
                &_big
                    font-size: 45px
            .hello_block2
                padding-top: 124px   
    .final
        height: 400px
        &_wrapper
            .final_block1
                img
                    height: 400px
            .final_block2
                height: 400px
    footer
        height: 100px
        .block2
            margin-right: 100px 

@media (min-width: 768px) and (max-width: 991px)
    .container
        padding: 0 5px
    header .header_wrapper .header_part1 .nav1 .menu_part1 a
        margin-right: 25px
    .promo
        height: 200px
        .promo_block
            padding: 25px 0 15px 32px 
            &_big
                font-size: 30px
                line-height: 30px
                margin-bottom: 7px
            &_text
                margin-bottom: 10px
    .collection
        height: 585px
        margin-top: 20px
        margin-bottom: 20px
        &_wrapper
            &_1, &_2, &_3, &_4,
                width: 192px
                img
                    width: 192px
        .collection_big
            margin-top: 17px
            margin-bottom: 16px
        .collection_text
            margin-bottom: 23px
        .collection_btn
            margin-bottom: 23px
    .choose
        &_wrapper
            &_block
                &_big
                    font-size: 35px
    .advantages 
        height: 400px 
    .hello 
        height: 212px
        &_wrapper
            .hello_block1
                padding-top: 36px
                &_big
                    font-size: 37px
            .hello_block2
                padding-top: 96px 
    .final
        &_block2
            padding: 44px 0 50px 60px
            .name
                width: 77%
            .email
                width: 77%
            .message
                width: 77%
// @media (min-width: 576px) and (max-width: 767px)
    














                

                    




                









    